<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Cursos</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="contenedor">

<img src="{{ url_for('static', filename='logo.jpg') }}" class="logo">

<h1>MediGo</h1>

<p class="subtitulo">Sistema Médico Escolar Salesiano</p>

<div class="imagenes-donbosco">

<img src="{{ url_for('static', filename='donbosco1.jpg') }}" onerror="this.src='{{ url_for('static', filename='logo.jpg') }}'">

<img src="{{ url_for('static', filename='donbosco2.jpg') }}" onerror="this.src='{{ url_for('static', filename='logo.jpg') }}'">

<img src="{{ url_for('static', filename='donbosco3.jpg') }}" onerror="this.src='{{ url_for('static', filename='logo.jpg') }}'">

</div>

<h2>Selecciona el curso</h2>

<div class="grid-cursos">

<a href="/solicitudes?curso=1BGU A">
<button class="btn profesor curso-btn">1BGU A</button>
</a>

<a href="/solicitudes?curso=1BGU B">
<button class="btn profesor curso-btn">1BGU B</button>
</a>

<a href="/solicitudes?curso=2BGU A">
<button class="btn profesor curso-btn">2BGU A</button>
</a>

<a href="/solicitudes?curso=2BGU B">
<button class="btn profesor curso-btn">2BGU B</button>
</a>

</div>

</div>

</body>
</html>
