<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="contenedor-app">

<div class="cabecera-azul">
<h2>Historial del Estudiante</h2>
</div>

<div class="contenido">
<button class="btn-principal" onclick="window.history.back()">
Volver
</button>
</div>

<div class="contenido">

{% for s in data %}
<div class="tarjeta-solicitud">

<div class="fila-info">
<span class="nombre-est">{{ s.nombre }}</span>
<span>{{ s.estado }}</span>
</div>

<div class="cuadro-motivo">{{ s.motivo }}</div>

<small>
Fecha: {{ s.fecha }} <br>
Dolor: {{ s.dolor }}
</small>

</div>
{% endfor %}

</div>

</div>

</body>
</html>
