<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<title>Historial</title>
</head>

<body>

<div class="contenedor-app">

<img src="{{ url_for('static', filename='logo.jpg') }}" class="logo">

<h2>Historial Clínico</h2>

<a href="/inspector">
<button>⬅ Volver</button>
</a>

<br><br>

{% for h in historial %}

<div class="tarjeta-solicitud">

<h3>{{ h.nombre }}</h3>

<p>{{ h.motivo }}</p>

<p><b>Dolor:</b> {{ h.dolor }}</p>

<p><b>Estado:</b> {{ h.estado }}</p>

<p><b>Fecha:</b> {{ h.fecha }}</p>

</div>

{% endfor %}

</div>

</body>
</html>
