<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="contenedor-app">

<div class="cabecera-azul">
<h2>Inspector</h2>
</div>

<div class="contenido">
<div style="display:flex; gap:10px; justify-content:center;">
<a href="/solicitudes"><button class="btn-principal">Solicitudes</button></a>
<a href="/inspector"><button class="btn-principal">Inspector</button></a>
<a href="/medico"><button class="btn-principal">Médico</button></a>
</div>
</div>

<div id="tablaHoy" class="contenido"></div>

</div>

<script>

let cargando = false;

function cargar(){

if(cargando) return;
cargando = true;

fetch('/api/solicitudes')
.then(r=>r.json())
.then(data=>{

let cont = document.getElementById("tablaHoy");
cont.innerHTML = "";

data.forEach(s=>{

cont.innerHTML += `
<div class="tarjeta-solicitud">

<div class="fila-info">
<span class="nombre-est">${s.nombre}</span>
<span>${s.estado}</span>
</div>

<div class="cuadro-motivo">${s.motivo}</div>

${s.estado==="pendiente" ? `
<a href="/aprobar/${s.id_solicitud}"><button>Aprobar</button></a>
<a href="/rechazar/${s.id_solicitud}"><button>Rechazar</button></a>
` : ``}

</div>
`;

});

cargando = false;

});

}

if(!window.intervalInspector){
window.intervalInspector = setInterval(cargar,3000);
}

cargar();

</script>

</body>
</html>
