<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login {{ rol }}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="contenedor">

<img src="{{ url_for('static', filename='logo.jpg') }}" class="logo">

<h1>Login {{ rol|capitalize }}</h1>

{% if error %}
<div style="background:#e74c3c; color:white; padding:12px; border-radius:12px; margin-bottom:15px;">
{{ error }}
</div>
{% endif %}

<form method="POST">

<input type="text" name="usuario" placeholder="Usuario" required>

<input type="password" name="password" placeholder="Contraseña" required>

<button type="submit" class="btn medico">
INGRESAR
</button>

</form>

</div>

</body>
</html>
