<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Médico</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="contenedor">

    <h1>Médico</h1>

    <table>

        <tr>
            <th>Nombre</th>
            <th>Motivo</th>
            <th>Estado</th>
        </tr>

        <tr>
            <td>Ejemplo</td>
            <td>Dolor</td>
            <td>Pendiente</td>
        </tr>

    </table>

</div>

</body>
</html>
