<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<title>Médico</title>
</head>

<body>

<div class="contenedor-app">

<img src="{{ url_for('static', filename='logo.jpg') }}" class="logo">

<h2>Médico</h2>

<div id="tablaMedico"></div>

</div>

<script>

function cargar(){

fetch('/api/solicitudes')
.then(r=>r.json())
.then(data=>{

let cont=document.getElementById("tablaMedico");

cont.innerHTML="";

data.forEach(s=>{

cont.innerHTML+=`

<div class="tarjeta-solicitud">

<h3>${s.nombre}</h3>

<p>${s.motivo}</p>

<div class="estado ${s.estado}">
${s.estado}
</div>

<br>

${s.estado==="aprobado"?`

<a href="/atendido/${s.id_solicitud}">
<button>🏥 Atender</button>
</a>

`:``}

</div>

`;

});

});

}

setInterval(cargar,1000);

cargar();

</script>

</body>
</html>
