<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Panel Médico</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="contenedor-app">
        <h1>Consultas Médicas Aprobadas</h1>
        <table>
            <thead>
                <tr>
                    <th>Estudiante</th>
                    <th>Motivo</th>
                    <th>Nivel de Dolor</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for s in solicitudes %}
                <tr>
                    <td>{{ s.nombre }}</td>
                    <td>{{ s.motivo }}</td>
                    <td>{{ s.dolor }}</td>
                    <td>
                        <a href="{{ url_for('atendido', id=s.id_solicitud) }}" class="btn btn-atendido">Finalizar Atención</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
