<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Roles</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="contenedor">

    <h1>Selecciona un Rol</h1>

    <a href="/solicitudes">
        <button class="btn">PROFESOR</button>
    </a>

    <a href="/inspector">
        <button class="btn">INSPECTOR</button>
    </a>

    <a href="/medico">
        <button class="btn">MÉDICO</button>
    </a>

</div>

</body>
</html>
