<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<title>Roles</title>
</head>

<body>

<div class="contenedor-app">

<img src="{{ url_for('static', filename='logo.png') }}" class="logo">

<h2>Seleccionar Rol</h2>

<div class="contenido">

<a href="/solicitudes">
<button>👨‍🏫 Profesor</button>
</a>

<br><br>

<a href="/login/inspector">
<button>👮 Inspector</button>
</a>

<br><br>

<a href="/login/medico">
<button>🏥 Médico</button>
</a>

</div>

</div>

</body>
</html>
