<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">

    <title>Solicitudes</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="contenedor">

    <h1>Solicitudes Médicas</h1>

    <form>

        <select required>

            <option>
                Seleccionar estudiante
            </option>

        </select>

        <textarea
        placeholder="Motivo"></textarea>

        <input
        type="number"
        placeholder="Dolor 1-10">

        <button class="btn">
            ENVIAR
        </button>

    </form>

</div>

</body>
</html>
