<script>
let ultimoEstado = {};
let iniciado = false;

function sonido(){
    new Audio("/static/mixkit-correct-answer-tone-2870.wav").play();
}

function notificar(msg){
    if(Notification.permission === "granted"){
        new Notification("MediGo",{body:msg});
    }
    sonido();
}

function cargar(){

fetch('/api/solicitudes')
.then(r=>r.json())
.then(data=>{

let tbody = document.querySelector("#tablaSolicitudes tbody");
tbody.innerHTML = "";

let ids = new Set();

data.forEach(s=>{

if(ids.has(s.id_solicitud)) return;
ids.add(s.id_solicitud);

// 🔔 detectar cambios
if(ultimoEstado[s.id_solicitud] && ultimoEstado[s.id_solicitud] !== s.estado){

if(s.estado==="aprobado") notificar("Aprobado: "+s.nombre);
if(s.estado==="rechazado") notificar("Rechazado: "+s.nombre);
if(s.estado==="atendido") notificar("Atendido: "+s.nombre);

}

ultimoEstado[s.id_solicitud] = s.estado;

tbody.innerHTML += `
<tr>
<td>${s.nombre}</td>
<td>${s.motivo}</td>
<td>${s.estado}</td>
<td>${s.fecha}</td>
</tr>`;
});

});
}

// 🔥 SOLO UNA VEZ
if(!iniciado){
setInterval(cargar,3000);
iniciado = true;
}

if(Notification.permission !== "granted"){
Notification.requestPermission();
}

cargar();
</script>
