<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<title>Solicitudes</title>
</head>

<body>

<div class="contenedor-app">

<div class="cabecera-azul">
<h2>Enviar Solicitud Médica</h2>
</div>

<!-- MENÚ -->
<div class="contenido">
<div style="display:flex; gap:10px; justify-content:center; flex-wrap:wrap;">
<a href="/solicitudes"><button class="btn-principal">Solicitudes</button></a>
<a href="/inspector"><button class="btn-principal">Inspector</button></a>
<a href="/medico"><button class="btn-principal">Médico</button></a>
</div>
</div>

<!-- FORM -->
<div class="contenido">

<form method="POST" onsubmit="return confirmar()">

<label>Estudiante</label>
<select name="estudiante" required>
<option value="">Seleccionar...</option>
{% for e in estudiantes %}
<option value="{{ e.id_estudiante }}">{{ e.nombre }}</option>
{% endfor %}
</select>

<label>Motivo</label>
<textarea name="motivo" required></textarea>

<label>Nivel de dolor</label>

<div class="escala-dolor">
{% for i in range(1,11) %}
<label class="nivel-btn n-{{i}}">
<input type="radio" name="dolor" value="{{i}}" required>
<span>{{i}}</span>
</label>
{% endfor %}
</div>

<button class="btn-principal">Enviar</button>

</form>

</div>

<!-- TABLA -->
<div class="contenido">

<h3>Historial de Solicitudes</h3>

<table style="width:100%; border-collapse:collapse;" id="tablaSolicitudes">

<thead>
<tr style="background:#0056b3; color:white;">
<th>Nombre</th>
<th>Motivo</th>
<th>Estado</th>
<th>Fecha</th>
</tr>
</thead>

<tbody></tbody>

</table>

</div>

</div>

<script>

function cargar(){
fetch('/api/solicitudes')
.then(r=>r.json())
.then(data=>{

let tbody = document.querySelector("#tablaSolicitudes tbody");
tbody.innerHTML="";

let vistos = [];

data.forEach(s=>{

if(vistos.includes(s.id_solicitud)) return;
vistos.push(s.id_solicitud);

tbody.innerHTML+=`
<tr>
<td>${s.nombre}</td>
<td>${s.motivo}</td>
<td>${s.estado}</td>
<td>${s.fecha}</td>
</tr>
`;

});

});
}

setInterval(cargar,3000);
cargar();

function confirmar(){
return confirm("¿Enviar solicitud?");
}

</script>

</body>
</html>
